<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdi.navigation_3d"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cdi_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cdi.navigation_3d.map.MapRendererActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.cdi.navigation_3d.ui.TestActivity" >
        </activity>
        <activity android:name="com.cdi.navigation_3d.ui.DisplayActivity" >
        </activity>
        <activity android:name="com.cdi.navigation_3d.ui.DisplayActivity2" >
        </activity>
        <activity android:name="com.cdi.navigation_3d.ui.DisplayActivity3" >
        </activity>
        <activity android:name="com.cdi.navigation_3d.ui.RouteActivity" >
        </activity>
        <activity android:name="com.cdi.navigation_3d.ui.MainActivity" >
        </activity>
        <activity android:name="com.cdi.navigation_3d.ui.HelloActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>